<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento BookForm</title>
</head>
<body>
    <h1>Book Form</h1>
    <div th:if="${mensagem}" th:text="${mensagem}" ></div>

    <form action="/book/form/save" method="post" >
        
        <div th:if="${book != null and book.id != null}">
            <input type="text" readonly id="id" name="id" th:value="${book?.id}" />
        </div>
        Nome: <input type="text" class="form-control" id="name" name="name"
            th:value="${book?.name}"
        />
        <!---->
        ISBN: <input type="text" id="isbn" name="isbn"
            th:value="${book?.isbn}"
        />
        Descrição: <input type="text" id="description" name="description"
            th:value="${book?.description}"
        /> 
        
        Author: <select name="author" class="custom-select" >
                    <option
                        th:each="author : ${authors}" 
                        th:value="${author.id}" 
                        th:text="${author.name}">
                        th:selected="${author.id} == ${book?.author?.id}"
                    </option>
                </select>
                <button type="submit" >Salvar Livro</button> 
    </form>
</body>
</html>
